<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../option.js"></script>
    <link rel="stylesheet" href="../css/option.css" />
    <title>Options</title>
</head>

<body>
    <div class="section-container">
        <div class="section-title">
            🖥️ 表示設定
        </div>
        <div class="section-content checkbox-container">
            <input id="show-ranking-checkbox" type="checkbox" />
            <label for="show-ranking-checkbox">ランキングを表示する</label>
        </div>
    </div>
    <div class="section-container">
        <div class="section-title">
            💬 通知設定
        </div>
        <div class="section-content checkbox-container">
            <input id="show-notification-checkbox" type="checkbox" />
            <label for="show-notification-checkbox">通知を表示する</label>
        </div>
        <div class="section-content volume-slider-container">
            <span class="volume-slider-label">通知音量</span>
            <input id="volume-slider" class="volume-slider" type="range" min="0" max="100" step="5" />
            <span id="volume-value-text" class="volume-value-text"></span> %
            <button id="play-test-sound-button" class="play-test-sound-button">[テスト]</button>
        </div>
    </div>
    <div class="section-container">
        <div class="section-title">
            💁‍♂️️ 自動入場ユーザー
        </div>
        <div class="section-content" id="auto-open"></div>
    </div>
</body>

</html>