.section-container {
    margin: 0 0 16px 0;
}

.section-title {
    margin: 0 0 8px 0;
    font-weight: bold;
}

.section-content {
    margin: 0 0 0 16px;
}

.volume-slider-container {
    display: flex;
    align-items: center;
}

.volume-slider {
}

.volume-value-text {
    margin: 0 0 0 8px;
}

.volume-value-unit {
    margin: 0 0 0 8px;
}

.play-test-sound-button, .remove-button {
    background: none;
    border: none;
    text-decoration: underline;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.play-test-sound-button {
    margin: 0 0 0 8px;
}

.auto-open-user-div {
    height: 20px;
}

.remove-button {
    margin: 0 8px 0 0;
}

.user-name {
    margin: 0 8px 0 0;
}

.user-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
